body {
	background-image: url(../images/foggy_birds_@2X.png);
	text-align: center;
	font-family: Lucida Sans Unicode;
}

form {
	font-size: 20px;
}

input[type=submit] {
	padding: 20px 30px;
	font-size: 30px;
	background-color: pink;
	border: 3px solid black;
	font-family: Lucida Sans Unicode;
}
